<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>852895682356-vgdmrpbrauvvk2uu7cg9qfnbobu3s29v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.852895682356-vgdmrpbrauvvk2uu7cg9qfnbobu3s29v</string>
	<key>API_KEY</key>
	<string>AIzaSyDc2RnKhfljd7zcFTMWxFq_acdfJjfcFkQ</string>
	<key>GCM_SENDER_ID</key>
	<string>852895682356</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.fiftygramx.ethosai</string>
	<key>PROJECT_ID</key>
	<string>healthcare-analytics-197813</string>
	<key>STORAGE_BUCKET</key>
	<string>healthcare-analytics-197813.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:852895682356:ios:f447d0276bf851c42f9f61</string>
	<key>DATABASE_URL</key>
	<string>https://healthcare-analytics-197813.firebaseio.com</string>
</dict>
</plist>
